<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Index</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <ul>
                <div class="image">
                    <img src="../assets/images/dumbways.png" alt="">
                </div>
                     
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>
                
        </div>
                
            <div class="nav-right">
                <a href="/contact">Contact</a>    
            </div>
            
    </nav>
    <div class="container">
            <div class="left">
                <div style="width: 700px; padding: 20px; text-align: center;">
                    <div style="text-align: left;">
                        <h3>Welcome to my profile</h3>
                    </div>
                    <div style="text-align: left;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        <h2>Found Me On</h2>
                        <div class="social-media">
                            <i class="fa-brands fa-facebook-square"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i> 
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
            
                        <div style="padding: 20px;">
                            <!-- <div class="btn-group1">
                                <button class="btn-sumbit sumbit-contact">Contact</button>
                                <button class="btn-sumbit sumbit-download">Download</button>
                            </div> -->
                            <!-- <div class="btn-group2" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                                <a href="https://www.linkedin.com"><button class="btn-sumbit sumbit-linkedin">Linkedin</button></a>
                                <a href="https://www.instagram.com/"><button class="btn-sumbit sumbit-instagram">Instagram</button></a>
                                <a href="https://www.facebook.com"><button class="btn-sumbit sumbit-facebook">Facebook</button></a>
                                <a href="https://twitter.com/?lang=en"><button class="btn-sumbit sumbit-twitter">Twitter</button></a>
                            </div> --> 
                        </div> 
                        
                              
                </div> 
    
            </div>

            <div class="right">
                <div style="
                                border: 1px solid gray; 
                                width: 350px; 
                                padding: 20px;
                                margin: 30px auto;
                                border-radius: 10px;
                                text-align: center;">
                                <img src="../assets/images/fotonyabambang.jpg" alt="bambangHilang" width="100%" style="border-radius: 5px;">
                                <h2>Bambang</h2>
                                <h2>Fullstack Developer</h2>
                            </div> 
               
            </div>
    </div>
        

         

    </div>

</body>
</html>