.text-orange {
    color: orangered !important;
}

.bg-orange {
    background-color: orangered !important;
}

nav {
    height: 7vh;
}

.container-fluid {
    height: 93vh;
}

.container-form {
    width: 400px;
}